.about {
    font-family: 'Lato', sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.about_background{
    /* flex-direction: row; */
    background-image: url("../static/graphics/About_Page_BG.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100vw 120vh;
    background-position:right;
    /* margin: -15vh 0vw; */
}
.about-text{
    display: flex;
    justify-content: center;
    flex-direction:column;
    font-size: 2rem;
    /* height: 60vh; */
    margin: 0vh 24vw;
}
.about-text p{
    font-weight:bold;
    text-align: center;

}
.card-section{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* overflow: scroll; */
    margin-top: -5rem;
}
.about-team-img{
    width: 100%;
}